<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Administrador</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="container">
    <div class="form-box">
        <form class="form">
            <span class="title">Dashboard de Administrador</span>
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Ejercicio</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rutina in rutinas %}
                    <tr>
                        <td>{{ rutina['id'] }}</td>
                        <td>{{ rutina['nombre_ejercicio'] }}</td>
                        <td>{{ rutina['descripcion'] }}</td>
                        <td>
                            <a href="{{ url_for('edit_rutina', rutina_id=rutina['id']) }}">Editar</a>
                            <a href="{{ url_for('delete_rutina', rutina_id=rutina['id']) }}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-section">
                <a href="{{ url_for('logout') }}" class="button-link">Cerrar Sesión</a>
            </div>
        </form>
    </div>
</body>
</html>
